<footer class="footer">
  <ul class="footer__social">
    {{#each social}}
      <li class="footer__social__link about-hover about-hover--{{metadata m_id 'icon'}}">
        <a class="icon icon--hover icon-{{metadata m_id 'icon'}}" aria-label="link to my {{metadata m_id 'name'}}" href="{{url}}" rel="noopener" target="{{target}}"></a>
      </li>
    {{/each}}
  </ul>

  <p class="footer__message short-underline short-underline--dark">Enjoy your day!</p>
</footer>
