{{page "title" "Archive"}}
{{page "description" "An overview of the projects and snippets I've worked on, and projects I've contributed to"}}
{{page "keywords" "portfolio,archive,contributions"}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> includes/metadata}}
    <link href="/styles/bundle.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    {{> includes/navigation}}

    <header class="header">
      <h1 class="header__title short-underline short-underline--dark">{{page 'title'}}</h1>
      <ul class="header__message header__links">
        <li class="header__links__item">
          <a href="/" rel="noopener" target="_self">home</a>
        </li>
        <li class="header__links__item">
          <a href="/downloads/cv_eric-cornelissen.pdf" rel="noopener" target="_blank">resume</a>
        </li>
      </ul>
    </header>

    <main class="main">
      <section id="programming" class="section">
        <h2 class="short-underline">Programming &amp; Web development</h2>
        <ul class="list">
          {{#each portfolio.programming}}
          <li class="list__item">
            <a class="list__item__link" href="/archive/{{hyphenate (lowercase name)}}" rel="noopener">
              {{#new_category end_year}}
              <p class="list__item__category">{{end_year}}</p>
              {{/new_category}}
              <p class="list__item__title">{{name}}</p>
            </a>
          </li>
          {{/each}}
        </ul>
      </section>

      <section id="snippets" class="section">
        <h2 class="short-underline">Snippets</h2>
        <ul class="list">
          {{#each portfolio.snippets}}
          <li class="list__item">
            <a class="list__item__link" href="{{link}}" rel="noopener">
              {{#new_category year}}
              <p class="list__item__category">{{year}}</p>
              {{/new_category}}
              <p class="list__item__title">{{name}}</p>
            </a>
          </li>
          {{/each}}
        </ul>
      </section>

      <section id="contributions" class="section">
        <h2 class="short-underline">Contributions</h2>
        <ul class="list">
          {{#each portfolio.contributions}}
          <li class="list__item">
            <a class="list__item__link" href="/archive/{{hyphenate (lowercase name)}}" rel="noopener">
              {{#new_category end_year}}
              <p class="list__item__category">{{end_year}}</p>
              {{/new_category}}
              <p class="list__item__title">{{name}}</p>
            </a>
          </li>
          {{/each}}
        </ul>
      </section>

      {{> includes/back-to-top}}
    </main>

    {{> includes/footer}}
  </body>
</html>
