<header class="header {{modifiers}}">
  <img class="header__icon" alt="Personal logo" src="/assets/favicon.svg">
  <h1 class="header__title short-underline short-underline--inverse">Eric Cornelissen</h1>
  <p class="header__message">Hey there &#x1F44B; I&apos;m software engineering and open source enthusiast with an interest in security and usability. You can find me and my work right here, or at the links below.</p>

  <ul class="breadcrumbs">
    <li><a href="/" rel="noopener">Home</a></li>
    <li><a href="/archive#projects" rel="noopener">Projects</a></li>
    <li><a href="/archive/pinned-tabs-for-atom" rel="noopener">Pinned tabs for Atom</a></li>
  </ul>

  <ul class="header__list">
    {{#each social}}
      <li class="list-item">
        <a class="icon {{get_icon @key}}" aria-label="link to my {{get_name @key}}" href="{{url}}" rel="noopener" target="{{target}}"></a>
      </li>
    {{/each}}
  </ul>
</header>
