{{#with_project "event" $page.title}}
{{page "keywords" (lowercase (join project.keywords ','))}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> includes/metadata}}
  </head>
  <body>
    {{> includes/header compact=true}}

    <main class="main">
      <article class="section">
        <ul class="article__links list-of-icons list-of-icons--large">
          <li class="list-item">
            <a class="icon icon-website icon--hover" aria-label="link to the institute's website" href="{{project.link}}" rel="noopener" target="_self"></a>
          </li>
        </ul>

        <h2 class="short-underline">{{project.title}}</h2>
        <p class="article__date">{{project.when}}</p>

        <p class="article__about" data-name="about">{{project.title}} at {{project.institute}} in <i>{{project.location.city}}, {{project.location.country}}</li>.</p>

        <h3 class="short-underline">Description</h3>
        {{#> description}}
          {{!-- Project description is inserted here --}}
        {{/description}}
      </article>

      {{> includes/back-to-top}}
    </main>

    {{> includes/footer}}
  </body>
</html>
{{/with_project}}
