{{#with_project "projects" $page.title}}
{{page "keywords" (lowercase (join (concat project.tags project.keywords) ','))}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> includes/metadata}}
  </head>
  <body>
    {{> includes/header compact=true}}

    <main class="main">
      <article class="section article">
        <ul class="article__links list-of-icons list-of-icons--large float-right">
          {{#each project.links as |url key|}}
            <li class="list-item">
              <a class="icon icon-{{@key}} icon--hover" aria-label="link to the project's {{get_name key}}" href="{{url}}" rel="noopener" target="_self"></a>
            </li>
          {{/each}}
        </ul>

        <h2 class="short-underline">{{project.name}}</h2>

        <p class="article__date">
          {{project.start_year}}{{#unlessEq project.start_year project.end_year}} - {{project.end_year}}{{/unlessEq}}
        </p>

        {{#if project.tldr}}
          <p class="article__about" data-name="about">{{{project.tldr}}}</p>
        {{/if}}

        <ul class="tags">
          {{#each (sort project.tags)}}
            <li class="tag">{{this}}</li>
          {{/each}}
        </ul>

        <h3 class="short-underline">Description</h3>
        {{#> description}}
          {{!-- Project description is inserted here --}}
        {{/description}}
      </article>
      {{> includes/back-to-top}}
    </main>

    {{> includes/footer}}
  </body>
</html>
{{/with_project}}
