{{page "description" "Welcome to the portfolio of Eric Cornelissen!"}}
{{page "keywords" "portfolio,contributions"}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> includes/metadata}}
  </head>
  <body>
    {{> includes/header no_breadcrumbs=true}}

    <main class="main">
      <section id="projects" class="section">
        <h2 class="short-underline">Projects</h2>
        <p>A selection of the favorite projects I worked on. You can find a list of all my projects <a class="text-link" href="/archive" rel="noopener">over here</a>.</p>

        <ul class="list list--cards">
          {{#each projects}}
            {{#if spotlight}}
              <li class="list-item">
                <div class="list-item__header">
                  <h3 class="list-item__title">{{name}}</h3>

                  <ul class="list-item__links">
                    {{#each links as |url key|}}
                      <li class="list-item__link">
                        <a class="icon icon--hover {{get_icon key}}" aria-label="link to the project's {{get_name key}}" href="{{url}}" rel="noopener" target="_blank"></a>
                      </li>
                    {{/each}}
                  </ul>
                </div>

                <p class="list-item__description">{{{truncate (sanitize tldr) 80}}}</p>
                <a class="list-item__more" href="/archive/{{hyphenate (lowercase name)}}" rel="noopener">More</a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </section>

      <section id="contributions" class="section">
        <h2 class="short-underline">Contributions</h2>
        <p>As I said, I love contributing to open source software. Here are a few of the favorite projects I contributed to. You can find a complete overview <a class="text-link" href="/archive#contributions" rel="noopener">here</a>.</p>

        <ul class="list list--cards">
          {{#each contributions}}
            {{#if spotlight}}
              <li class="list-item">
                <div class="list-item__header">
                  <h3 class="list-item__title">{{name}}</h3>

                  <ul class="list-item__links">
                    {{#each links as |url key|}}
                      <li class="list-item__link">
                        <a class="icon icon--hover {{get_icon key}}" aria-label="link to the project's {{get_name key}}" href="{{url}}" rel="noopener" target="_blank"></a>
                      </li>
                    {{/each}}
                  </ul>
                </div>

                <p class="list-item__description">{{{ellipsis (sanitize about) 80}}}</p>
                <a class="list-item__more" href="/archive/{{hyphenate (lowercase name)}}" rel="noopener">More</a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </section>

      {{> includes/back-to-top}}
    </main>

    {{> includes/footer}}
  </body>
</html>
