{{page "title" "Snippets"}}
{{page "description" "An overview of coding snippets by Eric Cornelissen"}}
{{page "keywords" "portfolio,snippets"}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> includes/metadata}}
  </head>
  <body>
    <header class="header">
      <h1 class="header__title short-underline short-underline--inverse">Eric Cornelissen</h1>
      <p class="header__message">Hey there &#x1F44B; I&apos;m software engineering and open source enthusiast with an interest in security and usability. You can find me and my work right here, or at the links below.</p>

      <ul class="header__list">
        {{#each social}}
          <li class="list-item">
            <a class="icon {{get_icon @key}}" aria-label="link to my {{get_name @key}}" href="{{url}}" rel="noopener" target="{{target}}"></a>
          </li>
        {{/each}}
      </ul>
    </header>

    <main class="main">
      <section id="snippets" class="section">
        <h2 class="short-underline">Snippets</h2>
        <ul class="list list--cards">
          {{#each snippets}}
            {{#if (new_category _year)}}
              <li class="list-item list-item--newline">
                <p class="list-item__category">{{_year}}</p>
            {{else}}
              <li class="list-item">
            {{/if}}
              <h3 class="list-item__title">{{name}}</h3>
              <p class="list-item__description">{{{sanitize tldr}}}</p>
              <a class="list-item__more" href="{{link}}" rel="noopener">View</a>
            </li>
          {{/each}}
        </ul>
      </section>

      {{> includes/back-to-top}}
    </main>

    {{> includes/footer}}
  </body>
</html>
