{{page "title" "Snippets"}}
{{page "description" "An overview of coding snippets by Eric Cornelissen"}}
{{page "keywords" "portfolio,snippets"}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> includes/metadata}}
  </head>
  <body>
    {{> includes/navigation}}

    <header class="header">
      <h1 class="header__title short-underline short-underline--dark">{{page 'title'}}</h1>
      <ul class="header__message header__links">
        <li class="header__links__item">
          <a href="/" rel="noopener" target="_self">home</a>
        </li>
        <li class="header__links__item">
          <a href="/archive" rel="noopener" target="_self">archive</a>
        </li>
        <li class="header__links__item">
          <a href="/downloads/cv_eric-cornelissen.pdf" rel="noopener" target="_blank">resume</a>
        </li>
      </ul>
    </header>

    <main class="main">
      <section id="snippets" class="section">
        <h2 class="short-underline">Snippets</h2>
        <ul class="list list--cards">
          {{#each portfolio.snippets}}
            {{#if (new_category _year)}}
              <li class="list-item list-item--newline">
                <p class="list-item__category">{{_year}}</p>
            {{else}}
              <li class="list-item">
            {{/if}}
              <h3 class="list-item__title">{{name}}</h3>
              <p class="list-item__description">{{{sanitize tldr}}}</p>
              <a class="list-item__more" href="{{link}}" rel="noopener">View</a>
            </li>
          {{/each}}
        </ul>
      </section>

      {{> includes/back-to-top}}
    </main>

    {{> includes/footer}}
  </body>
</html>
