{{page "title" "Timeline"}}
{{page "description" "An overview of major events in my life"}}
{{page "keywords" "timeline,events,work,education,achievements,volunteer"}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> includes/metadata}}
  </head>
  <body>
    {{> includes/header}}

    <main class="main">
      <section id="timeline" class="section">
        <ul class="timeline timeline--alternate">
          {{#each timeline}}
            <li class="timeline-event timeline-event--{{ type }}">
              <p class="timeline-event__title short-underline">{{ title }}</p>
              <p><span class="text-italic">{{ when }}</span> | {{ institute }}</p>
              <a class="timeline-event__more more-arrow" href="{{ link }}" rel="noopener">More</a>
            </li>
          {{/each}}
        </ul>
      </section>
    </main>

    {{> includes/footer}}
  </body>
</html>
