{{set_project "contributions" page.title}}

<!DOCTYPE html>
<html>
  <head>
    {{> metadata}}
    <link href="/styles/bundle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title short-underline short-underline--dark">Contributions</h1>
      <ul class="header__message header__links">
        <li class="header__links__item">
          <a href="/" rel="noopener" target="_self">home</a>
        </li>
        <li class="header__links__item">
          <a href="/archive" rel="noopener" target="_self">archive</a>
        </li>
      </ul>
    </header>

    <main class="main">
      <article class="section">
        <ul class="links links--glyphs">
          {{#each project.links}}
          <li class="links__item">
            <a class="icon icon--hover icon-{{metadata m_id 'icon'}}" aria-label="link to the project's {{metadata m_id 'name'}}" href="{{url}}"></a>
          </li>
          {{/each}}
        </ul>

        <h2 class="short-underline">{{ project.name }}</h2>

        {{#if project.about}}
        <p class="article__abouts" data-name="about">{{ project.about }}</p>
        {{/if}}

        <h4 class="short-underline">Description</h4>
        {{#> description}}
          {{!-- Project description is inserted here --}}
        {{/description}}
      </article>
    </main>

    {{> footer}}
  </body>
</html>
