{{set_project "programming" page.title}}

<!DOCTYPE html>
<html lang="{{site.lang}}">
  <head>
    {{> metadata}}
    <link href="/styles/bundle.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title short-underline short-underline--dark">Projects</h1>
      <ul class="header__message header__links">
        <li class="header__links__item">
          <a href="/" rel="noopener" target="_self">home</a>
        </li>
        <li class="header__links__item">
          <a href="/archive" rel="noopener" target="_self">archive</a>
        </li>
      </ul>
    </header>

    <main class="main">
      <article class="section">
        <ul class="links links--glyphs">
          {{#each project.links}}
            <li class="links__item">
              <a class="icon icon--hover icon-{{metadata m_id 'icon'}}" aria-label="link to the project's {{metadata m_id 'name'}}" href="{{url}}"></a>
            </li>
          {{/each}}
        </ul>

        <h2 class="short-underline">{{project.name}}</h2>

        <p class="article__date">
          {{project.start_year}}{{#if project.end_year}} - {{project.end_year}}{{/if}}
        </p>

        {{#if project.tldr}}
          <p class="article__about" data-name="about">{{{project.tldr}}}</p>
        {{/if}}

        <ul class="tags">
          {{#each project.tags}}
          <li class="tag">{{this}}</li>
          {{/each}}
        </ul>

        <h4 class="short-underline">Description</h4>
        {{#> description}}
          {{!-- Project description is inserted here --}}
        {{/description}}
      </article>

      {{> back-to-top }}
    </main>

    {{> footer}}
  </body>
</html>
